.footer {
	position: relative;

	// .footer__info

	&__info {
		padding-top: 50px;
		padding-bottom: 60px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		max-width: 460px;
		width: 100%;
		height: 270px;
		background-color: #c70101;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .footer__address

	&__address {
		font-weight: 500;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		color: #ffffff;
	}

	// .footer__phone

	&__phone {
		font-weight: 700;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		margin-top: 36px;
		color: #ffffff;
		transition: 0.5s all;
		&:hover {
			color: rgb(43, 141, 141);
		}
	}

	// .footer__social

	&__social {
		max-width: 212px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 36px;
	}
	&__social-item {
		img {
			transition: 0.5s all;
			&:hover {
				border-radius: 100%;
				background: rgb(116, 150, 150);
			}
		}
	}
}
